<div class="page-header">
  <h1>Your Ad</h1>
  </div>
<div class="row">
  <p>This <%= items.noun_one %> is for totally for <%= items.noun_two %> and it's <%= items.adjective_one %>.</p>
  <p><%= items.adjective_two %> buy! now  <%= items.verb_two %></p>
  <p> $<%= items.number %>.00.</p>
  <div class="col-md-4"></div>
</div>
