<div class="page-header">
  <h1>Your Ad</h1>
  </div>
<div class="row">
  <p>I woke up this morning and turned on the <%= items.noun_one %>.  I then <%= items.verb_one %> to the kitchen and fired up the <%= items.noun_two %>.
      The <%= items.adjective_one %> blue flame of the stove warmed my <%= items.adjective_two %> heart.  I then started to <%= items.verb_two %> my favorite morning breakfast, a croissant.</p>
  <p>Even though I spent so much time cooking it I couldn’t finish my breakfast.  This is where you come in.  For the low price of $<%= items.number %>.00, You, can buy your very own, half eaten, <%= items.name %> croissant.  Made fresh this morning.</p>
  <div class="col-md-4"></div>
</div>
