<div class="page-header">
  <h1>Your Ad</h1>
  </div>
<div class="row">
  <p>For Sale: $<%= items.number %>.00</p>
  <p>I got a <%= items.noun_one %> a while back, I was trying to be more a <%= items.adjective_one %> <%= items.noun_two %> but its not <%= items.verb_one %>, and I need to give it away to a good home as soon as possible. Message my <%= items.adjective_two %> <%= items.noun_two %> you feel at all like <%= items.verb_two %>.
