<p>Dear Kerry,</p>
  <p>I hope you know that I think you're really <%= @valentine.adjective_one %>. Just thinking about you makes me feel <%= @valentine.adjective_two %> and <%= @valentine.adjective_three %> inside.</p>
  <p> When we <%= @valentine.verb %> together it makes me very <%= @valentine.adjective_four %>. I think about you at least <%= @valentine.number %> times a day. If it wasn't for your amazing <%= @valentine.noun %> and <%= @valentine.color %> hair I would be so <%= @valentine.adjective_five %>. I am lucky to have a friend like you.</p>
  <p>Your <%=@valentine.noun_two %> forever,</p>
  <p> <%= @valentine.sender %> </p>
