<p>This <%= item.noun_one %> is for totally for <%= item.noun_two %> and it's <%= item.adjective_one %>.</p>
<p><%= item.adjective_two %> buy! now  <%= item.verb_two %></p>
<p> $<%= item.number %>.00.</p>
