<div class="page-header">
  <h1>Your Ad</h1>
  </div>
<div class="row">
    <h1>FOR THE LOVE OF GOD PLEASE BUY THIS <%= item.noun_one %> MACHINE<h1>
    <p>Please <%= item.verb_one %> over here and rid me of this Gold's Gym Elliptical Machine. I got it a year ago from a friend who had only used it as a <%= item.noun_two %> rack. "That won't be me," I said, "I'll definitely stop eating croissants and use it," I swore. My <%= item.adjective_one %> roommate laughed and my friends made bets about the amount of times I'd actually step on it. Unfortunately, those <%= item.adjective_two %> punks were all right. Staring at it just reminds me of my lack of ambition, and it's also <%= item.verb_two %> up valuable space where I'd like to put a big beautiful white desk. The kind of furniture that not only allows me to feel good about my sedentary lifestyle, but actually encourages it under the guise of scholarly betterment.</p>

    <p>The price is freakishly low at $<%= item.number %>.00, which I figure is just about enough to cover a pizza party for my roommates and me. But the sweetest part will be going to bed, my stomach achingly full of Crispy Basil's cuban specialty pizza, and not being mocked by the unforgiving atrocity taking up half my bedroom.</p>

    <p>I also added a photo of my cat, <%= item.name %>, because he's dope.</p>
  <div class="col-md-4"></div>
</div>
