<div class="page-header">
  <h1>Your Ad</h1>
  </div>
<div class="row">
  <p>I woke up this morning and turned on the <%= item.noun_one %>.  I then <%= item.verb_one %> to the kitchen and fired up the <%= item.noun_two %>.
      The <%= item.adjective_one %> blue flame of the stove warmed my <%= item.adjective_two %> heart.  I then started to <%= item.verb_two %> my favorite morning breakfast, a croissant.</p>
  <p>Even though I spent so much time cooking it I couldn’t finish my breakfast.  This is where you come in.  For the low price of $<%= item.number %>.00, You, can buy your very own, half eaten, <%= item.name %> croissant.  Made fresh this morning.</p>
  <div class="col-md-4"></div>
</div>
