<p>For Sale: $<%= item.number %>.00</p>
<p>I got a <%= item.noun_one %> a while back, I was trying to be more a <%= item.adjective_one %> <%= item.noun_two %> but its not <%= item.verb_one %>, and I need to give it away to a good home as soon as possible. Message my <%= item.adjective_two %> <%= item.noun_two %> you feel at all like <%= item.verb_two %>.
