<div class="page-header">
  <h1>Your Mad Lib</h1>
  </div>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h4>Dear Kerry,</h4>
    <h4>I hope you know that I think you're really <%= @valentine.adjective_one %>. Just thinking about you makes me feel <%= @valentine.adjective_two %> and <%= @valentine.adjective_three %> inside.</h4>
    <h4> When we <%= @valentine.verb %> together it makes me very <%= @valentine.adjective_four %>. I think about you at least <%= @valentine.number %> times a day. If it wasn't for your amazing <%= @valentine.noun %> and <%= @valentine.color %> hair I would be so <%= @valentine.adjective_five %>. I am lucky to have a friend like you.</h4>
    <h4>Your <%=@valentine.noun_two %> forever,</h4>
    <h4> <%= @valentine.sender %> </h4></div>
  <div class="col-md-4"></div>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"><%= link_to "See all Mad Lib Valentines",  valentines_path, :class =>'btn-create' %></div>
  <div class="col-md-4"></div>
</div>
